# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
package.json

# Editor directories and files
.vscode/
.idea/
.nova

# Build artifacts
dist/
build/

# Cloudflare Pages
.github/
.wrangler/

# Project Specific
.env
.dev/
.claude/
CLAUDE.md
AGENTS.md
GEMINI.md
